.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
}

.access {
  font-size: 76px;
  font-family: 'Orbitron', sans-serif;
  background-image: url(/static/media/background.3e351db2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  margin: 0;
  padding: 40px;
  padding-top: 100px;
  text-align: center;
}

.App-title {
  font-size: 4.5em;
  font-weight: 700;
  font-family: 'Gothic A1', sans-serif;
  margin: 0 auto;
  color: #882233;
  text-shadow: 0px 0px 5px #eebb66;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

.background {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.favorites-btn {

}