.button {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
  width: 175px;
  height: 50px;
  color: #882233;
  border-radius: 3px;
  margin: 0 20px;
  background-color: #eebb66;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  border: 2px solid #882233;
}

.active {
  background-color: #882233;
  color: #eebb66;
  border: 2px solid #eebb66;
}